# docker-compose.yml


services:
  web:
    build: .
    command: gunicorn intentlink_project.wsgi:application --bind 0.0.0.0:8000 --workers 3
    volumes:
      - .:/app
    ports:
      - "8001:8000"
    env_file:
      - .env
    depends_on:
      - db
      - cache

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5433:5432"

  cache:
    image: redis:7-alpine
    ports:
      - "6380:6379"

  worker:
    build: .
    command: celery -A intentlink_project worker -l INFO
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - cache
      - db

volumes:
  postgres_data: